<article class="event d-flex justify-content-around">
  <div class="title d-flex flex-row">
    {{title}} 
  </div>
  <div class="start-time d-flex flex-row">
    start {{start_time}}
  </div>
  <div class="end-time d-flex flex-row">
    end {{end_time}}
  </div>
</article>