<article class="event d-flex justify-content-around row">
  <a class='col-6' href="/eventnotes/{{id}}">
    <div class="title">
      {{title}} 
    </div>
  </a>
  <div class="start-time col-3">
    start {{start_time}}
  </div>
  <div class="end-time col-3">
    end {{end_time}}
  </div>
</article>