<form class="event-form">
  <div>
    <label for="event-title">New Event Title:</label>
    <input type="text" id="event-title" />
  </div>
  {{!-- <div>
    <label for="">password:</label>
    <input type="password" id="password-login" />
  </div> --}}
  <div>
    <button type="submit">Submit New Event</button>
  </div>
</form>
<script src="/javascript/create-event.js"></script>