<form class="new-event-form">
  <div>
    <label for="event-title">New Event Title:</label>
    <input type="text" id="event-title" />
  </div>
  <div>
    <button type="submit">Submit New Event</button>
  </div>
</form>
<ol class="event-list">
  {{#each events as |event|}}
  <li>
    {{> event-info event }}
  </li>
  {{/each}}
</ol>
<script src="/javascript/create-event.js"></script>