<h2>{{viewData.title}}</h2>
<h3 id='eventID'>{{viewData.id}}</h3>

{{> event-info viewData }}

<form class="new-eItem-form">
  <div>
    <label for="eTitle">New Event Title:</label>
    <input type="text" id="eItem-Title" />
  </div>
    <div>
    <label for="eNotes">New Event Title:</label>
    <input type="text" id="eItem-Notes" />
  </div>
  <div>
    <button type="submit">Submit New Event</button>
  </div>  
</form>


<ol class="event-list">
  {{#each viewData.event_items as |eItem|}}
   <li>
     {{> event-item eItem }}
  </li>
    {{/each}}
</ol>
<script src="/javascript/event_notes.js"></script>
