<form class="new-event-form">
  <div>
    <label for="event-title">New Event Title:</label>
    <input type="text" id="event-title" />
  </div>
  <div>
    <label for="start-time">Start Time:</label>
    <input type="time" id="start-time"/>
  </div>
  <div>
    <label for="end-time">End Time:</label>
    <input type="time" id="end-time"/>
  </div>
  <div>
    <button type="submit">Submit New Event</button>
  </div>
</form>
<ul class="event-list">
  {{#each events as |event|}}
  <li>
    {{> event-info event }}
  </li>
  {{/each}}
</ul>
<script src="/javascript/create-event.js"></script>