<h2>Event Notes!!</h2>

<ol class="event-list">
  {{#each events as |event|}}
  <li>
    {{> event-info event }}
    {{#each event_item as |event_item|}}
    <li>
      {{> event-info event }}
    </li>
    {{/each}}
  </li>
  {{/each}}
</ol>
<script src="/javascript/event_notes.js"></script>