body {
  background-color: rgb(241, 241, 241);
}

.navigation-bar {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 100%;
  height: 100px;
  background-color: rgb(252, 236, 252);
}
.logo-box {
  display: flex;
  width: 80px;
  height: 80px;
}
.logo {
  width: 80px;
  height: 90px;
}

.brand {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 200px;
}

h1 {
  font-size: 25px;
  color: rgb(99, 99, 99);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
